body{
	margin: 0; padding: 0;
}
span.disabled:hover{
	cursor: not-allowed;
}
span:not(.disabled):hover{
	cursor: pointer;
}
span.disabled{
	background-color: gray!important;
	color: #aaa!important;
}
.ui-icon-closethick{
	/*background: url('../images/muscleicon.png')!important;*/
	background-image: url("images/ui-icons_ffffff_256x240.png")!important;
}
#alerts{
	visibility: hidden;
}
#routine span:first-of-type{
	background-color: green;
}
#loaded table{
	z-index: 5005;
	/* color: white; */
	background-color: white;
	opacity: 1;
	height: 300px;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	top: 50%;
	position: absolute;
	border-radius: 15px;
	padding: 10px;
}
#loaded div{
	background-color: rgba(0,0,0,0.3)  ;
	height: 100%;
	width: 100%;
	z-index: 5001;
}
#loaded{
	visibility: hidden;
	position: fixed;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	z-index: 5000;
}
#routine h1{
	text-align: center;
}
#routine td span{
	line-height: 25px;
}
#routine{
	height: 100%;
}
#routine li:first-of-type{
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	 border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
}
#routine li:last-of-type{
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	 border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.done{
	background-color: green!important;
	color: white;
}
#routine td span.done{
	color: orange!important;
}
#routine li div{
	margin-left: 50px;
}
#routine li h1{
	text-align: center;
	margin: 0 0 7px 0;
	font-size: 20px;
}
#routine li h1 img{
	padding-right: 13px;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 25px;
	margin-top: -5px;
}
#routine li th{
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	 border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 10px!important;
	font-weight: normal;
	text-align: center;
	padding-right: 12px;
	color: white;
	background-color: black;
	padding: 0;
}
#routine li table{
	border-collapse: separate;
	border-spacing: 9px 0px;
}
#routine li td{
	padding; 0;
	width: 60px;
}
#routine .head{
	margin-left: 40px;
	background-size: 20px auto;
	background-position: left 10px center;
	padding-left: 200px;
	list-style: none;
	width: 440px;
	line-height: 40px;
	color: black;
	font-weight: bold;
	background-color: #ccc;
	border: 1px solid #fff;
	
	/*-webkit-box-shadow: 0px 6px 5px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:    0px 6px 5px 0px rgba(255, 255, 255, 0.25);
	box-shadow:         0px 6px 5px 0px rgba(255, 255, 255, 0.25);*/

	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	 border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	/*-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
.link:hover{
	cursor: pointer;
}
#routine span{
	color: white;
	width: 60px;
	display: inline-block;
	border: 1px solid white;
	height: 25px;
	vertical-align: middle;
	text-align: center;
}
#routine li input[type="text"]{
	width: 100%;
	margin-right: 10px;
	background-color: #eee;
	text-align: center;
	/*** 
	light yellow: fed781;
	light green~ b3f9ac;

	***/
}
#routine ul{
	list-style-type: none;
	margin-top: 0;
	margin: auto;
	width: 600px;
}
#routine li{
	padding-left: 40px;
  /* reset styles (optional): */
  list-style: none;
  width: 100%;
  line-height: 40px;
  background-color: #444;
  border: 1px solid #ccc;
}
#exercises h1{
	margin-left: 30px;
}
#exercises{
	/*background-color: #eee;*/
	width: 100%;
	overflow: hidden;
	padding: 0;
}
#exerciselist{
	padding: 20px 0;
	padding-bottom: 100px;
	width: 100%;
}
#exerciselist table{
	margin: auto;
	border-collapse:collapse;
	padding: 10px;
	border: 1px solid black;
}
#exerciselist table tr:first-of-type{
	background-color: black;
	color: yellow!important;
}
#exerciselist th{
	padding: 10px 0;
	text-align: left;
	padding-right: 40px;
	background-color: #aaa;
	color: black;
	border: 0;
}
#exerciselist tr:nth-of-type(even){
	background-color: white;
}
#exerciselist tr:nth-of-type(odd){
	background-color: #feefde;
}
#exerciselist table tr:not(:first-of-type):hover{
	background-color: #d5fbbc;
	color: black;
}
#exerciselist td{
	padding: 5px 0;
}
#exerciselist table a{
	cursor: pointer;
}
#exerciselist td:not(:first-of-type), #exerciselist th{
	cursor: default;
}
#exerciselist td:first-of-type{
	padding-left: 20px;
	padding-right: 20px!important;
}
#exerciselist td:not(:last-of-type){
	padding-right: 40px;
}
#exerciselist td:nth-of-type(5), #exerciselist td:nth-of-type(7){
	text-align: center;
}
#exerciselist .fa:hover{
	color: green;
	text-shadow: 2px 2px 10px rgba(150, 150, 150, 1);
}
#exerciselist .fa{
	padding-right: 10px;
	color: black;
}
/*.fa-pencil-square-o:hover:before{
	content: '';
	position: absolute;
}*/
#excercisefilter{

	/** TEMPORARY!**/
	display: none;
	position:absolute;
	left: 0;
	bottom:0;
	width:100%;
	height: 100px;
	width: 100%;
	background-color: #111;
	border-top: 1px solid #444;
}
#excercisefilter h1{
	color: white;
	font-size: 12px;
	margin-left: 20px;
}
#tabs .ui-tabs-nav{
	background: url('../images/logolong.png') no-repeat 95% 0%;
	padding-right: 200px;
}
#tabs{
	height: 100%;
	padding: 0;
}